/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@font-face {
    font-family: "Righteous";
    src: url("../fonts/BalooChettan-Regular.ttf");
    src: url("../fonts/BalooChettan-Regular.ttf");
}


  @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500&family=Courgette&display=swap');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(css/font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
    box-sizing: border-box !important;
    transition: ease all 0.5s;
}
:root{
    --main-color: rgb(182, 132, 66);
 }

html {
    scroll-behavior: smooth;
}

body {
    color: #666666;
    font-size: 14px;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
    font-family: 'Cairo', sans-serif;
}
section{
    padding: 8rem 2rem;
}
h2{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 3rem;
    position: relative;
    
}
h2::after{
    content: "";
    position: absolute;
    top: 4rem;
    left: 50%;
    transform: translate(-50%);
    width: 30%;
    height: 2px  ;
    margin-bottom: 2rem;
    background-color: var(--main-color);
}

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}


*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    /* color: #212121; */
    text-decoration: none!important;
    opacity: 1
}


button:focus {
    outline: none;
}

ul,
li,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}


a {
    color: #222222;
    text-decoration: none;
    outline: none !important;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
}


section{
    padding-top:8rem 2rem;
}
.paddind_bottom_0 {
    padding-bottom: 0 !important;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

@media (min-width:300px) {
    html{
          font-size: 16px;
    }

    img{
        width: 80%;
    }
  
   
}

/* @media (min-width:567px) {
    html{
          font-size: 13px;
    }
    img{
        width: 70%;
    }
   
}
@media (min-width:768px){
    html{
        font-size: 15px;
    }
    img{
        width: 80%;
    }
  
}
@media (min-width:992px){
    html{
        font-size: 16px;
    }
    img{
        width: 100%;
    }
} */
ul{
  list-style: none;
}


/* start navbar section  ------------------------------------------*/

.navbar{
    position: fixed !important;
    top:0;
    left: 0;
    z-index: 99999999999999 !important;
    background-color: #fff !important;
    width: 100%;

  }
  .navbar   a {
    font-size: 1.2rem !important;
    margin-left: 1rem !important;
    font-weight: 700 !important;
    transition: 1s all ;
    color: #000 !important ;
}
@media (max-width:992px){
    .navbar a{
        margin-right: 2rem !important;
    }
}
.navbar a:hover{
    color: var(--main-color) !important;
}
  .navbar .navbar-toggler{
    color: var(--dark-color);
    font-size: 2rem;
 
  }
  .navbar img{
    width: 6rem;
    height: 6rem;
    margin-top: 0.5rem;
  }

.banner{
    height:100vh;
    background-image: url('../images/herosection.jpg');
    background-repeat: no-repeat;
    background-size:contain;
    background-color:black;
    background-position: center ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-top: 8rem;
  
    /* margin-top: 8rem; */
}
.carousel-item h1{
    text-align: center !important;
    color : #fff !important ;
}
.contact-banner{
    background-image: url('../images/contact-us2.jpeg');
    background-size:cover;
    /* background-position: center; */
    background-repeat: no-repeat;
    height: 100vh;
    margin-top: 2rem;
    object-fit: content;
    width: 100%;
    
}
.service-banner{
    background-image: url("../images/contact-us.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
}
.slider-section{
    background-image: url('../images/about-company.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center left; */
    height: 80vh;
    position: relative;
    z-index: 888888;
    object-fit: content;
    /* background-attachment: fixed; */
}
.contact-btn a{
    background-color: var(--main-color);
    color: #fff;
    font-weight: 700;
    padding: 0.75rem 2rem;
    border-radius: 0.75rem;
    margin-bottom: 1rem;
}
footer img{
    width: 25%;
}
@media(max-width:992px){
    footer  img{
        width: 70% !important;
    }
}
.slider-section .layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: -1;
}
.carousel{
    color: #fff;
}

@media (max-width:567px){
    .contact-banner{
        background-size: contain;
        height: 46vh;
    }
    .service-banner{
        background-size: contain;
        height: 80vh;
    }
    .slider-section{
        background-size: contain;
        height:30vh;
    }
}
.banner h1{
    font-size: 3rem;
    font-weight: 700;
    /* line-height: 1.8; */
}
.banner h2{
    font-size: 2rem !important;
    
}
.banner .carousel-item p {
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: justify;
  }
  .banner #carouselExampleControls{
    height: 40vh;
    width: 75% !important;
  
  }

  .banner #carouselExampleControls p{
    /* position: absolute;
    top: 30%; */
    margin: 1rem;
    /* transform: translate(-50%); */
  
  }

  @media (max-width:567px){
    .banner #carouselExampleControls{
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        height: 60vh;
      
      }
  }
.banner .our-offers{

    background-color: rgb(158, 122, 67);
    padding: 1rem 1rem;
    border-radius:1rem;
    color : #fff;
    text-align: center;
    /* width: 75%; */
    /* width: 90%; */
}
.banner .contact-info{
  border:1px solid #fff;
  border-radius: 1rem;
  padding: 1.5rem;
  
    
}
.banner .our-offers ul li{
    font-size: 1.5rem;
    font-weight: 500;
}
.banner .our-offers ul .num{
    margin-right: 1rem;
}
.banner .our-offers ul span {
    font-size: 1.5rem;
    font-weight: 500;
}
.banner .our-offers ul .num i{
    margin-right: 0.5rem;
    
}
.banner .our-offers p{
    font-size: 1.75rem;
    font-weight: 700;

}
.banner .carousel{
    color : #fff;
    font-weight: 600;
    border: 1px solid #fff ;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem;
    
}
.banner .carousel p{
    line-height: 1.8;
    font-size: 1.25rem;
    /* text-align: center; */
}
@media (max-width:992px){
  
    .banner{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 2rem;
    }
  
    .banner .carousel p{
        line-height: 1.8;
    }
}
/* banner section end */


/* services section start */

.services_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
    overflow: hidden;
    background-color: #fff;
}
.services_section .col-md-4{
    margin-bottom: 2rem !important;
}
.services_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #1f1f1f;
    font-weight: bold;
}

.services_text {
    width: 100%;
    /* float: left; */
    font-size: 1.5rem;
    font-weight:400;
    line-height: 1.8;
    color: #1f1f1f;
    margin: 0px;
}

.services_section_2 {
    width: 100%;
    float: left;
    margin-top: 90px;
    overflow: hidden;
}
.services_section_2 .col-md-4{
    margin-bottom: 4rem !important;
}
.services_img {
    width: 100%;
    float: left;
    text-align: center;
    border-radius: 2rem;
}


.btn_main {
    width: 170px;
    margin: 0 auto;
    text-align: center;
}

.btn_main a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    background-color: var(--main-color);
    text-align: center;
    padding: 10px 0px;
    border-radius: 30px;
    font-weight: bold;
    margin-top: 40px;
    text-transform: uppercase;
}

.btn_main a:hover {
    color: #ffffff;
    background-color: #000d10;
}


.btn_main.active a {
    color: #ffffff;
    background-color: #000d10;
}


/* services section end */

/* about-us section start */
.about-us{
    background-color: #d4c9ab;
    text-align: center;
    
}

.about-us .about-content{
     background-color: #fff;
     padding: 1rem;
     border-radius: 2rem;
}
.about-us .about-content p{
    font-size: 1.25rem;
    line-height: 1.7;
    font-weight: 600;
}
.about-us .icon {
    margin-bottom: 2rem;
}
.about-us .icon i {
    font-size: 3rem;
    background-color: rgb(141, 117, 68);
    color: #fff;
    text-align: center;
    padding: 2rem;
    border-radius: 50%;
    border: 0.75rem solid rgb(177, 159, 125);
    

}

/* start why-us section */
.why-us p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.7;
    text-align: justify;
    margin-bottom: 4rem;
    margin-top: 3rem;

}
.why-us h3{

    font-weight: 700;
    margin-bottom: 2rem;
    text-align: justify;
}

.why-us i{
    font-size: 1.5rem;
    padding: 0.5rem;
    font-weight: bold;
    background-color: #af9b7e;
    color: #fff;
    border-radius: 50%;
}
.why-us ul li{
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.7;
    margin-bottom: 1rem;
    text-align: justify;
}

/* about section start */

.about_section {
    width: 100%;
    float: left;
    overflow: hidden;
    padding: 8rem 2rem
  
}

.about_section h1{
    margin:  2rem;
}

.about_taital_main {
    width: 100%;
    padding-left: 100px;
    padding-top: 70px;
}

.padding_right_0 {
    padding-right: 0px;
}

.about_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #1f1f1f;
    font-weight: bold;
}

.about_text {
    width: 100%;

    /* float: left; */
    font-size: 1rem;
    color: #1f1f1f;
    margin: 0px;
    padding-top: 40px;
    text-align: justify;
}

.readmore_bt {
    width: 170px;
    float: left;
    margin-top: 50px;
}

.readmore_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    background-color: #000d10;
    text-align: center;
    padding: 10px 0px;
    border-radius: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.readmore_bt a:hover {
    color: #ffffff;
    background-color: #2b2278;
}

.about_img {
    width: 100%;
    float: left;
}




/* choose section end */

/* contact section start */



.about-services{
    padding-top: 14rem;
    
}
.about-services h3{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 3rem;

}
.about-services h2{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 3.5rem;

}
.about-services p{
    line-height: 1.7;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: justify;
}
.about-services .row{
    padding-top: 4rem !important;

}
.about-services .col-lg-6{
    margin-bottom: 2rem !important;

}
.about-services .content{
    padding: 1rem;
    
}
.our-works{
    padding: 9rem 2rem;
    background: linear-gradient( var(--main-color) , #000);
}
.our-works h2{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 3.5rem;
}
.our-works .carousel-item{
 
    height: 70vh !important;
}
/* start work-gallery-section */

.work-gallery {
    position: relative;
    z-index: 88;
    background-color: #d4c9ab;
}
.work-gallery::after{
    content: "";
    position: absolute;
    width: 40%;
    top: 0;
    right: 0;
    border-radius: 50%;
    background-color: #d4ccb5;

}
.work-gallery {
    padding: 8rem 2rem;
}
.work-gallery img{
    background-color: #d4c9ab;
    position: relative;
    border: 0.5rem solid var(--main-color);
    border-radius: 1rem;
}

.vh-100{
    z-index:-9999;
    
    background-color:rgba(0, 0,0,.1)
}

#fixedbox{
    z-index:999;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0,0,0,.5);
    display:flex;
    justify-content:center;
    align-items: center;
    display: none;
   
}
#smallBox{
background-image: url(../images/portfolio-1.jpg);
background-size: 100% 100%;
width: 40%;
height:50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
@media(max-width:992px){
    #smallBox{
        width: 90%;
    }
}
#smallBox i{
    z-index:9900;
    margin: 10px;
    cursor: pointer;
    font-size: 1.75rem;
    color: rgb(151, 124, 88);
}
#closeBtn {
    position: absolute;
    right: 10px;
    top: 10px

}
/* contact page ---------------------------------------- */
.map{
    padding: 9rem 0;
    background-color: #000;
}

.map iframe{
    width: 100%;
    height: 30.625rem;
}
.map h2{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 3.5rem;
}
.map .address{
    background-color: var(--main-color);
    border-radius: 1rem;
    padding: 1rem;
    color: #fff;
}
.map .address i{
    font-size: 3rem;
}
.map .address p{
    font-size: 1.75rem;
    font-weight: 700;
}




/* contacy section */

.contact .whatsUp{
    position: fixed;
    bottom: 9rem;
    left:0;
    z-index: 88999;
    
}
.contact .contact-way{
    background-color: rgb(196, 165, 109);
    padding: 0.25rem 1.5rem;
    width: 14rem;
    border-radius: 1.75rem;
    transition: 1s all;
}
.contact .contact-way:hover{
    background-color: #9b764d;
    cursor: pointer;
}
.contact .contact-way  i{
    font-size: 3rem;
    font-weight: 700;
    margin-right: 0.5rem;
    color: #fff;
}
.contact .contact-way p{
    color: #fff;
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 1rem;
}
.contact .phone{
    position: fixed;
    bottom: 2rem;
    left:0;
    z-index: 88999;
}
@media(max-width:992px){
    .contact .contact-way{
        width: 35%;
        padding: 0.2rem 1.5rem;
    }
    .contact .contact-way  i{
        font-size: 2rem;
        font-weight: 700;
        color: #fff;
    }
    .contact .contact-way p{
        color: #fff;
        font-size: 1rem;
        font-weight: 700;
        margin-top: 0.5rem;
    }
    .contact .whatsUp{
        position: fixed;
        bottom: 8rem;
        left:1.5rem;
        z-index: 889;
    }    
    .contact .phone{
        position: fixed;
        bottom: 2rem;
        left:1.5rem;
    }
}

.carousel-item {
    height: 500px;
  }
  
  .carousel-item h2 {
    font-size: 4rem;
  }
  
  .carousel-item p {
    font-size: 1.5rem;
  }
/* footer section end */

footer {
 
    background-color: rgb(107, 75, 37);
    height: auto;
    padding: 3rem;
}
footer p{
     font-size: 1.5rem;
     font-weight: bold;
     line-height: 1.7;
}
.copyright_text {
    width: 100%;

    color: #ffffff;
    text-align: center;
}

.copyright_text a {
    color: #ffffff;
}

.copyright_text a:hover {
    color: #a08668;
}


.visible{
    display: block;
}
.hidden{
    display: none;
}
